.chart-container{
    width: 100%;
}
.chart-container h6:nth-child(1) span{
  color: #3333fa;
  font-size: 1.5rem;
}

.chart-container{
    background: #0e1726;
    
}

.chart-container h2{
    color: white;
}

.recharts-cartesian-axis-tick text{
    fill: white !important;
    
}

.chart-container .recharts-cartesian-axis-tick text tspan{
    margin-right: -30px !important;
    font-size: 14px !important;
}

.chartHead button{
   background:#3333fa ;
}

