.sidebar {
    position: sticky;
    right: 0;
    /* top: 100px; */
    /* border-left: 1px solid gray; */
    width: 20%;
    direction: rtl;
    padding-left: 10px;
}

.accordion-item{
    border: none !important;
}

.accordion-item,
.accordion-header button{
    /* background: #212529 !important; */
    background: #060818 !important;
    /* color: aliceblue; */
    color: #506690;
    transition: all 0.4s ease;
}
.accordion-header button:hover{
    background: #59585854 !important;
}
.accordion-button {
    border: none !important;
    color: aliceblue !important;
    box-shadow: none !important;
}

.arrow{
    transition: all 0.4s ease;
    position: absolute;
    left: 1rem;
}

.accordion-button.collapsed .arrow{
    transform: rotate(-90deg);
}

.accordion-button::after {
    position: absolute;
    left: 20px;
    color: aliceblue !important;
    opacity: 0;
}

.accordion-header svg{
    margin-left: 12px;
}

.sidebar h6 {
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
}

.sidebar ul {
    margin-left: -20px;
}

.sidebar li {
    cursor: pointer;
    list-style: none;
    color: rgb(208, 208, 208);
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s ease;
}

.sidebar li:hover,
.sidebar li.active {
    color: rgb(11, 164, 52);
}

.sidebar a {
    text-decoration: none;
}
