.sales .col-4:nth-child(2) p {
    font-size: 14px;
}

.sales .col-4:nth-child(2) {
    background: #0e1726;
}
.sales .infoChart {
    background: #1b55e2;
}


.sales .row3 .col-5 > div,
.sales .row3 .col-3,
 .row3 .col-4 > div {
    background: #0e1726;
}

.basketIcon {
    font-size: 55px !important;
    background: rgb(155, 211, 253);
    color: rgb(71, 71, 251);
}

.row3 .col-5 p {
    font-size: 13px;
    font-weight: bold;
}

.row3 .col-5 > div > div > div {
    border: 1px dashed white;
    /* padding-right: 10px !important; */
}

.row3 .arrowDown {
    transform: rotate(-90deg);
}
